h2, h3 {
  margin: 0;
  font-size: 5vw;
  font-family: 'Righteous', cursive;
  color: #ffbd69;
}

body {
  background-color: #202040;
}

.body-section {
  margin: 2vw;
  background: #543864;
}

.status {
  padding: 20px;
  text-align: center;
}

.btn-start {
  background: none;
  border: none;
}

.btn-start:focus {
  outline: none;
}

.activeChange:active h2 {
  color: #202040;
}
.cursorChange {
  cursor: pointer;
}

.buttons {
  text-align: center;
}

.btn {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-radius: 10%;
  border-color: black;
  border-width: 0.5vw;
  margin: 1vw;
}

.btn:focus {
  outline: none;
}

.btn-1 {
  background-color: green;
}

.btn-2 {
  background-color: red;
}

.btn-3 {
  background-color: yellow;
}

.btn-4 {
  background-color: blue;
}

.btn-pressed {
  opacity: 30%;
}

.levelNumber {
  padding: 1vw;
  text-align: center;
}
/* home-button */
.home-button {
  max-width: 70px;
  margin-left: 10px;
  margin-top: 10px;
}

.home-icon {
  position: absolute;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}

.home-icon:hover {
  opacity: 1;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
